---
title: Graduate Management Scheme
---

<section class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="jumbotron-inner">
          <h1>Graduate Management Scheme</h1>
          <p class="lead">Help shape the future of the NHS</p>
          <%= link_to "Find out more", "/index.html#theScheme", class: "btn btn-lg btn-headroom btn-success visible-xs visible-sm" %>
        </div>
      </div>
      
      <div class="col-md-4 col-md-offset-1">
        <div class="card card-colourful card-jumbotron hidden-xs hidden-sm">
          <h2>Apply now</h2>
          <p>
            Are you ready to gain the skills, knowledge and confidence to make real improvements to the NHS?
          </p>
          <a class="btn btn-block btn-wire" href="#apply">Apply now</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="graduate-lead">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="lead">We're launching an exciting new graduate management scheme to grow and develop passionate, inspirational leaders of the future.</p>
        <p>Over two years, you'll gain the skills, knowledge and confidence that will enable you to make real improvements at the frontline of the healthcare service and improve patient care.</p>
      </div>
    </div>
  </div>
</section>

<section class="graduate-about" id="about">
  <div class="container">
    <div class="row">      
      <div class="col-md-12">
        <h2 class="header-lg-space">About us</h2>
      </div>
      <div class="col-md-7">
        <p>Sheffield Teaching Hospitals is one of the UK’s most successful NHS foundation trusts. We provide a full range of local hospital and community services for people in Sheffield, as well as specialist care for patients from further afield, including cancer, spinal cord injuries, renal and cardiothoracic services.</p>
        <p>We have an ambitious vision to be recognised as the best provider of health, clinical research and education in the UK and a strong contributor to the aspiration of Sheffield to be a vibrant and healthy city.</p>
        <p>Join us as a graduate management trainee and help make that vision a reality!</p>
      </div>    
      <div class="col-md-5">
        <%= image_tag "stock-one.jpg", class: "img-responsive" %>
      </div>
    </div>
  </div>
</section>


<section class="graduate-scheme" id="theScheme">
  <div class="container">
    <div class="row">      
      <div class="col-md-12">
        <h2 class="header-lg-space">The scheme</h2>
      </div>
      
      <div class="col-md-7">
        <p>We’re offering a two year management training programme which will provide you with a rich experience helping lead the future of the NHS at Sheffield Teaching Hospitals.</p>
        <p>The scheme will provide you with the skills, experiences and personal qualities you need to be a big success. Supported every step of the way by a buddy, mentor and our managers, you’ll take on new responsibilities from the very start and be given the chance to manage teams and projects.</p>
        <p>During the scheme you’ll also be enrolled in the NHS Leadership Academy Mary Seacole programme and provided with their formal six month leadership development programme.</p>
      </div>
      
      <div class="col-md-5">
        <%= image_tag "stock-two.jpg", class: "img-responsive" %>
      </div>
      
      <div class="col-md-12">
        <h2 class="header-lg-space">About you</h2>
      </div>
      
      <div class="col-md-7">
        
        <p>Doing the right thing for our patients, staff and the wider public and is what drives us and we’ll expect you to share our values. Successful candidates will:</p>
        <ul>
          <li>Be excellent communicators and able to form productive relationships and networks across departments within the Trust</li>
          <li>Have excellent organisational skills </li>
          <li>Be a self-starter and able to work on own initiative</li>
          <li>Have a real interest in the NHS and a desire to contribute to its future success</li>
          <li>Have a desire to learn new skills and undertake formal study leading to management and leadership qualifications</li>
        </ul>  
        
        <p>We are looking for strong team players from a variety of backgrounds, committed to the values of the NHS, with the passion, drive and ability to influence and deliver at all levels.  </p>
        <p>We are committed to recruiting people from a range of different backgrounds and would particularly welcome applications from candidate’s underrepresented in leadership roles.</p>
        <p>The 2 year programme will commence on 16 October 2017 and all successful candidates must be available to commence in post on this date.</p>
      </div>    
      <div class="col-md-5">
        <div class="card card-colourful card-feature card-reasons">
          <h3>In numbers</h3>
          <ol class="list-unstyled list-featured">
            <li>
              <span class="mega">2</span> year course
            </li>
            
            <li>
              <span class="mega">£22K</span> starting salary
            </li>
            
            <li>
              <span class="mega">2:2</span> degree or above
            </li>
            
            <li>
              <span class="mega">27</span> days annual leave
            </li>
     
          </ol>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="graduate-apply" id="apply">
  <div class="container">
    <div class="row">      
      
      <div class="col-md-12">
        <h2 class="header-lg-space">Apply now</h2>
      </div>
      
      <div class="col-md-7">
        <p>More details about the graduate management scheme can be found in our <%= link_to "job description and person specification", "./documents/Sheffield Teaching Hospitals NHS Foundation Trust Graduate Management Scheme.pdf" %>.</p>
        <p>If you have any questions or would like to register your interest, <a href="mailto:GraduateScheme@sth.nhs.uk">contact us by emailing GraduateScheme@sth.nhs.uk</a></p>
        <p>Please note that the 2 year programme will commence on 16 October 2017 and all successful candidates must be available to commence in post on this date.</p>
      </div>
      
      <div class="col-md-4 col-md-offset-1">
        <% link_to "./documents/Sheffield Teaching Hospitals NHS Foundation Trust Graduate Management Scheme.pdf" do %>
          <%= image_tag "thumbnail.jpg", class: "img-responsive" %>
        <% end %>
      </div>
      
      <div class="col-md-12">
        <h2 class="header-lg-space">Application process</h2>
      </div>
      
      <div class="col-md-4">
        <h3 class="graduate-step" id="step1">1.</h3>
        <h4>Online application <span class="glyphicon glyphicon-graduate-menu" aria-hidden="true"></span></h4>
        <p>Your application must be submitted via <a>the NHS Jobs by completing the online application form</a>. Candidates are encouraged to read the associated documentation prior to completing and submitting their application.</p>
        <p>Applications will be reviewed within 14 days from the advertisement being closed. If you successfully demonstrate how you meet the essential criteria you will be shortlisted to progress further through the application process.</p>
      </div>
      
      <div class="col-md-4">
        <h3 class="graduate-step" id="step2">2.</h3>
        <h4>Assessment centre <span class="glyphicon glyphicon-graduate-menu" aria-hidden="true"></span></h4>
        <p>Shortlisted candidates will progress through the selection process, including attendance at an assessment centre on the 14 July 2017.</p>
        <p>We will select 30 candidates to progress through to the assessment centre stage. During the assessment centre, participants will be required to complete a variety of exercises and will undergo a panel interview. </p>
      </div>
      
      <div class="col-md-4">
        <h3 class="graduate-step" id="step3">3.</h3>
        <h4>Pre-employment checks</h4>
        <p>Within 7 days of the assessment centre, the successful trainees will be informed that they have secured a conditional offer of a place on the graduate trainee management scheme. </p>
        <p>A programme of clearance checks will commence for the successful candidates and upon successful clearance through pre-employment checks your confirmed offer of employment will be made.</p>
      </div>
      
      <div class="col-md-12">
        <div class="card card-colourful card-feature card-cta">
          <h3 id="">Interested?</h3>
          <h4>Apply now</h4>
          <p>
            Gain the skills, knowledge and confidence to make real improvements to the NHS.
          </p>
          <a class="btn btn-wire" href="#">Help shape the future of the NHS</a>
        </div>
      </div>
      
    </div>
  </div>
</section>

<section class="graduate-stories" id="profiles">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="header-lg-space">Featured profiles</h2>
        <p>At Sheffield Teaching Hospitals NHS Foundation Trust we strive for excellence. This drives our continued commitment to develop great leaders and we firmly believe in the benefits of ‘growing our own’.</p>
        <p>Many of our present leaders launched their careers through similar NHS management schemes including <%= link_to "our current Chief Executive Sir Andrew Cash", "/andrew-cash.html" %>.</p>
        
        <div class="row">

          <div class="col-md-9">
            <ul class="media-list">
              <li class="media graduate-profile">
                <div class="media-left">
                  <% link_to "/andrew-cash.html" do %>
                    <%= image_tag "andrew_cash.jpg", class: "media-object", alt: "Sir Andrew Cash OBE", width: "150" %>
                  <% end %>
                </div>
                <div class="media-body">
                  <h3 class="media-heading graduate-profile"><%= link_to "Sir Andrew Cash OBE", "/andrew-cash.html" %></h3>
                  <p>I completed a National NHS Graduate Management Scheme at the beginning of my career having left University and found it a wonderful entrance into the National Health Service.  ... <%= link_to "read more", "/andrew-cash.html" %></p>
                </div>
              </li>

              <li class="media graduate-profile">
                <div class="media-left">
                  <% link_to "/anna-hescott.html" do %>
                    <%= image_tag "anna_hescott.png", class: "media-object", alt: "Anna Hescott", width: "150" %>
                  <% end %>
                </div>
                <div class="media-body">
                  <h3 class="media-heading graduate-profile"><%= link_to "Anna Hescott", "/anna-hescott.html" %></h3>
                  <p>I joined Sheffield Teaching Hospitals straight off my graduate scheme to work within the Medicine and Pharmacy Care Group supporting performance monitoring, business planning and improvement of our services. ... <%= link_to "read more", "/anna-hescott.html" %></p>
                </div>
              </li>

              <li class="media graduate-profile">
                <div class="media-left">
                  <% link_to "/michael-harper.html" do %>
                    <%= image_tag "michael_harper.jpg", class: "media-object", alt: "Michael Harper", width: "150" %>
                  <% end %>
                </div>
                <div class="media-body">
                  <h3 class="media-heading graduate-profile"><%= link_to "Michael Harper", "/michael-harper.html" %></h3>
                  <p>Following my graduate management scheme, I started at the Trust in 2000, as the then Operational Manager for A&amp;E and Endoscopy. The four hour A&amp;E standard was first implemented during my time ... <%= link_to "read more", "/michael-harper.html" %></p>
                </div>
              </li>

              <li class="media graduate-profile">
                <div class="media-left">
                  <% link_to "/maria-makhonina.html" do %>
                    <%= image_tag "maria_makhonina.jpg", class: "media-object", alt: "Maria Makhonina", width: "150" %>
                  <% end %>
                </div>
                <div class="media-body">
                  <h3 class="media-heading graduate-profile"><%= link_to "Maria Makhonina", "/maria-makhonina.html" %></h3>
                  <p>After completing a graduate management scheme I joined a Service Improvement Team at Sheffield Teaching Hospitals and am working as an Improvement Facilitator working with a range of clinical teams across different ... <%= link_to "read more", "/maria-makhonina.html" %></p>
                </div>
              </li>

            </ul>

          </div>

        </div>
       
      </div>
    </div>
  </div>
</section>

